version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: crm-backend
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 3000
      DB_SYNCHRONIZE: "false"
      FRONTEND_URL: https://crm.wampa.com.br
      SMTP_HOST: ""
      SMTP_PORT: "587"
      SMTP_SECURE: "false"
      SMTP_USER: ""
      SMTP_PASS: ""
      SMTP_FROM: ""
      # Apontando para o banco externo conforme seu .env local
      DB_HOST: wampa.com.br
      DB_PORT: 5433
      DB_USERNAME: postgres
      DB_PASSWORD: Davi_123
      DB_DATABASE: crm
      DB_NAME: crm
    ports:
      - "3000:3000"
    networks:
      - crm-network
      - proxynet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: crm-frontend
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - crm-network
      - proxynet

networks:
  crm-network:
    driver: bridge
  proxynet:
    external: true
